@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* Colors */
  --color-neutral-900: #141d2f;
  --color-neutral-800: #1e2a47;
  --color-neutral-700: #2b3442;
  --color-neutral-500: #4b6a9b;
  --color-neutral-300: #697c9a;
  --color-neutral-200: #90a4d4;
  --color-neutral-100: #f6f8ff;
  --color-neutral-0: #ffffff;

  --color-blue-300: #60abff;
  --color-blue-500: #0079ff;

  --color-red-500: #f74646;

  /* Font */
  --font-mono: "Space Mono", monospace;
}

/* Text Preset 1
   Space Mono Bold
   26px / 120%
*/
@utility text-preset-1 {
  font-family: var(--font-mono);
  font-size: 26px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0;
}

/* Text Preset 2
   Space Mono Bold
   22px / 140%
*/
@utility text-preset-2 {
  font-family: var(--font-mono);
  font-size: 22px;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 0;
}

/* Text Preset 3
   Space Mono Regular
   16px / 150%
*/
@utility text-preset-3 {
  font-family: var(--font-mono);
  font-size: 13px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0;

  @media (min-width: 768px) {
    font-size: 16px;
    line-height: 150%;
  }
}
/* Text Preset 4
   Space Mono Regular
   16px / 150%
*/
@utility text-preset-4 {
  font-family: var(--font-mono);
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0;
}

/* Text Preset 5
   Space Mono Bold
   16px / 150%
*/
@utility text-preset-5 {
  font-family: var(--font-mono);
  font-size: 16px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0;
}

/* Text Preset 6
   Space Mono Regular
   15px / 150%
*/
@utility text-preset-6 {
  font-family: var(--font-mono);
  font-size: 15px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0;
}

/* Text Preset 7
   Space Mono Regular
   13px / 150%
*/
@utility text-preset-7 {
  font-family: var(--font-mono);
  font-size: 13px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0;
}

/* Text Preset 8
   Space Mono Bold
   13px / 140%
   2.5px letter spacing
*/
@utility text-preset-8 {
  font-family: var(--font-mono);
  font-size: 13px;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 2.5px;
}

.attribution {
  letter-spacing: 0.5px;
  bottom: 1px;
  font-size: 0.9rem;
  text-align: center;
  padding: 1rem;
  color: rgb(209, 154, 82);
}

/* Links */
.attribution a {
  margin: 0 0.25rem;
  text-decoration: none;
  font-weight: 600;
  color: rgb(210, 93, 50);
}

.attribution a:hover {
  opacity: 0.5;
}

/* Separator dot */
.separator {
  margin: 0 0.5rem;
  opacity: 0.6;
}
